<app-tipo-empaque-form [tipoEmpaque] ></app-tipo-empaque-form>
<div class="card border-primary mb-3">
    <div class="card-header">Tipo Empaques</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Listado de Tipo de Empaques</h5>
        <div class="my-2 text-left"></div>
        <button class="btn btn-rounder btn-primary" type="button" (click)="abrirModal()">
                Crear Tipo Empaque
        </button>
        <div *ngIf="tipoEmpaques?.length ==0" class="alert alert-info">
            No hay registro en la base de datos
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Codigo Tipo Empaque</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tipoEmpaque of tipoEmpaques">
                    <td>{{ tipoempaque.codigoEmpaque }}</td>
                    <td>{{ tipoempaque.descripcion }}</td>
                    <td><button (click)="abrirModal(tipoEmpaque)" type="button" name="editar" class="btn btn-primary btn-sm">Editar</button></td>
                    <td><button (click)="delete(tipoEmpaque)" type="button" name="eliminar" class="btn btn-danger btn-sm">Eliminar</button></td>
                </tr>
            </tbody>
        </table>
        <app-paginator *ngIf="paginador" [paginador]="paginador"></app-paginator>
    </div>
</div>